<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <style>
        form {
            margin-bottom: 20px;
        }

        table,
        th,
        td {
            border: 1px solid black;
            width: 30%;
            border-collapse: collapse;
            text-align: center;
        }
    </style>
</head>

<body>
    <form method="POST">
        <label>Key:<input type="text" name="key"></label>
        <label> Value:<input type="text" name="value"></label>
        <input type="submit" value="Add Cookie">
    </form>
    <% if(Object.keys(cookies).length !==0) { %>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            <% for(let i in cookies) { %>
                <tr>
                    <td>
                        <%= i %>
                    </td>
                    <td>
                        <%= cookies[i] %>
                    </td>
                </tr>

                <% } } else { %>
                    <h3>No cookies set!!</h3>
                    <% } %>
        </table>


</body>

</html>